# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [23]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

g_key

gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [16]:
city_data_df = pd.read_csv("../output_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,berlevag,70.86,29.09,24.80,92,75,8.05,NO,1585690169
1,1,ushuaia,-54.80,-68.30,50.00,71,75,6.93,AR,1585690133
2,2,bethel,41.37,-73.41,48.99,61,90,4.70,US,1585689918
3,3,biak,-0.91,122.88,80.20,72,98,4.74,ID,1585690170
4,4,makakilo city,21.35,-158.09,80.60,78,75,9.17,US,1585690170

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [27]:
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [28]:
narrowed_city_df = city_data_df.loc[(city_data_df["Max Temp"] < 80) & (city_data_df["Max Temp"] > 70) \
                                    & (city_data_df["Wind Speed"] < 10) \
                                    & (city_data_df["Cloudiness"] == 0)].dropna()
narrowed_city_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
270,270,tessalit,20.20,1.01,78.58,11,0,9.62,ML,1585690212
299,299,chabahar,25.29,60.64,72.64,70,0,9.98,IR,1585690244
334,334,ramgarh,23.63,85.52,71.60,64,0,5.44,IN,1585690060
380,380,posse,-14.09,-46.37,74.98,56,0,4.70,BR,1585690266
434,434,barmer,25.75,71.38,77.59,34,0,4.99,IN,1585690280
522,522,inhambane,-23.86,35.38,74.14,70,0,9.10,MZ,1585690301
531,531,usilampatti,9.97,77.80,75.06,58,0,1.43,IN,1585690303
534,534,khairpur,27.53,68.76,71.60,68,0,9.17,PK,1585690304
544,544,morondava,-20.28,44.28,77.38,75,0,7.67,MG,1585690306

In [29]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("")

hotel_df

            City Country    Lat    Lng                    Hotel Name
270     tessalit      ML  20.20   1.01
299     chabahar      IR  25.29  60.64                   هتل گدروشیا
334      ramgarh      IN  23.63  85.52               Rajesh Tea Shop
380        posse      BR -14.09 -46.37         Pousada das Palmeiras
434       barmer      IN  25.75  71.38  OYO 71911 Hotel Amber Palace
522    inhambane      MZ -23.86  35.38                MHL Turismo SA
531  usilampatti      IN   9.97  77.80               APR Veera Mahal
534     khairpur      PK  27.53  68.76     Khaskheli house Wafa Fida
544    morondava      MG -20.28  44.28                La Case Bambou

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [20]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'fig' is not defined